@font-face {
  font-family: PFSpekk-Regular;
  src: url(fonts/Spekk\ Variable/PFSpekkVAR-Regular-subset.otf);
}
@font-face {
  font-family: PFSPekk-BOLD;
  src: url(fonts/Spekk\ Variable/PFSpekkVAR-SemiBold-subset.otf);
}
@font-face {
  font-family: PFSpekk-Black;
  src: url(fonts/Spekk\ Variable/PFSpekkVAR-Black-subset.otf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Black;
  src: url(fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}

body {
  display: flex;
  flex-direction: column;
  font-family: PFSpekk-Regular, Roboto-Regular,'Trebuchet MS', Arial, sans-serif;
}

nav {
  background-color: #F2955E;
}

nav>a {
  color: white;
  text-decoration: none;
}

article {
  background-color: #F2B6BB;
}

h1 {
  font-family: PFSpekk-Black, Roboto-Black,'Trebuchet MS', Arial, sans-serif;

}
 h2 {
  font-family: PFSpekk-BOLD, Roboto-Bold,'Trebuchet MS', Arial, sans-serif;
 }

footer {
  background-color: #0D0604;
}
.connect{
  color: white;
}
.logo {
  height: 30px;
  width: auto;
}
color {
  background-color: #F2B6BB;
  background-color: #F2955E;
  background-color: #0D0604;
  background-color: #D98E73;
  background-color: #8C3D2B;

}