@font-face {
  font-family: PFSpekk-Regular;
  src: url(fonts/Spekk\ Variable/PFSpekkVAR-Regular-subset.otf);
}
@font-face {
  font-family: PFSpekk-BOLD;
  src: url(fonts/Spekk\ Variable/PFSpekkVAR-SemiBold-subset.otf);
}
@font-face {
  font-family: PFSpekk-Black;
  src: url(fonts/Spekk\ Variable/PFSpekkVAR-Black-subset.otf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Black;
  src: url(fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}

/* this can be use to reset everything wherease normalize.css retains default
styles that are useful and removes those that are not useful
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

html {
  font-family: PFSpekk-Regular, Roboto-Regular,'Trebuchet MS', Arial, sans-serif;
  color:#0D0604;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
nav, footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;
}
nav {
  background-color: #F2955E;
  display: inherit;
  justify-content: space-around;
  align-items: center;
}
.nav-links {
  display: inherit;
}
.navlink1:hover, .navlink2:hover, .navlink3:hover {
  font-family: PFSpekk-BOLD;
}
.navlink1, .navlink2, .navlink3 {
  color: #0D0604;
  text-decoration: none;
  display: inherit;
  flex-direction: inherit;
  margin: 1em;

}

footer {
  display: inherit;
  justify-content: space-around;
  background-color: #0D0604;
  line-height: 60px;
  font-size: 25px;

}
.connect, .connect-links{
  display:inherit;
  color: white;
}
.logo1, .logo2 {
  align-items: center;
  height: 30px;
  width: auto;

}

article {
  display: inherit;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #F2B6BB;
  flex-grow:2;
}
.personal-statement {
  margin:30px;
}
header > h1 {
  font-family: PFSpekk-Black, Roboto-Black,'Trebuchet MS', Arial, sans-serif;
}
.personal-statement > h2 {
  font-family: PFSpekk-BOLD, Roboto-Bold,'Trebuchet MS', Arial, sans-serif;
 }

.home-photo {
  height: 300px;
  width: auto;
  margin: 30px;
}

color {
  background-color: #F2B6BB;
  background-color: #F2955E;
  background-color: #0D0604;
  background-color: #D98E73;
  background-color: #8C3D2B;

}
